#welcome-full{
	background: url('../assets/img/welcome.jpg') ;
	background-color: #cccccc; /* Used if the image is unavailable */
  	height: 90vh;
  	background-position: center; /* Center the image */
  	background-repeat: no-repeat; /* Do not repeat the image */
  	background-size: cover; /* Resize the background image to cover the entire container */
}
#heading{
	margin-bottom: 5vh;
}
#description{
	margin-bottom: 4vh;
}
@media screen and (max-width: 1150px) {
  .text-to-hide {
   display: none;
  }
}